services:
    app:
      container_name: app
      build:
        context: .
        dockerfile: Dockerfile
      ports:
        - "8000:8000"
      depends_on:
        - db

    db:
      container_name: postgres-db
      hostname: postgres
      image: postgres:15-alpine
      restart: always
      environment:
        POSTGRES_USER: ${PG_USER}
        POSTGRES_PASSWORD: ${PG_PASSWORD}
        POSTGRES_DB: ${PG_DATABASE}
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data

volumes:
 postgres_data:
