<html>
	<head>
		<title><%= headTitle %></title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath:
		activeLinkPath}); %>
		<main>
			<h3 class="texty">404 - Not Found</h3>
		</main>
	</body>
</html>
