<html lang="pl_PL">
	<head>
		<title><%= headTitle %></title>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath:
		activeLinkPath}); %>
		<main>
			<h3 class="texty">Add entry</h3>
			<form class="form" action="/add" method="POST">
				<div class="form__group">
					<label class="form__label" for="mood"> Mood: </label>
					<div class="form__mood-options">
						<label>
							<input type="radio" name="mood" value="Happy" required />
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f601.png"
								alt="Happy emoji"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="OK" required />
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f609.png"
								alt="Winking emoji"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Normal" required />
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f610.png"
								alt="Emoji with a straight face"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Sad" required />
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/2639-fe0f.png"
								alt="Sad emoji"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Depressed" required />
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f62d.png"
								alt="Crying emoji"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Tired" required />
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f634.png"
								alt="Sleeping emoji"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Angry" required />
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f620.png"
								alt="Angry emoji"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Stressed" required />
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f630.png"
								alt="Stressed emoji"
								class="mood-icon" />
						</label>
					</div>
				</div>
				<div class="form__group">
					<label class="form__label" for="description"> Description: </label>
					<input
						id="description"
						class="form__input"
						type="text"
						name="description" />
				</div>
				<div class="form__group">
					<label class="form__label" for="rating"> Rating: </label>
					<div class="form__rating-options">
						<label>
							<input type="radio" name="rating" value="0" required />
							<span class="rating">0</span>
						</label>
						<label>
							<input type="radio" name="rating" value="1" required />
							<span class="rating">1</span>
						</label>
						<label>
							<input type="radio" name="rating" value="2" required />
							<span class="rating">2</span>
						</label>
						<label>
							<input type="radio" name="rating" value="3" required />
							<span class="rating">3</span>
						</label>
						<label>
							<input type="radio" name="rating" value="4" required />
							<span class="rating">4</span>
						</label>
						<label>
							<input type="radio" name="rating" value="5" required />
							<span class="rating">5</span>
						</label>
					</div>
				</div>
				<div class="form__group">
					<label class="form__label" for="date"> Date: </label>
					<input id="date" class="form__input" type="date" name="date" />
				</div>
				<button class="add_button" type="submit">Add entry</button>
				<% if (typeof errorMessage !== 'undefined') { %>
				<p style="color: rgb(175, 5, 5); font-weight: 600">
					<%= errorMessage %>
				</p>
				<% } %>
			</form>
		</main>
	</body>
</html>
