body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f8f4ec;
	color: #ffffff;
	line-height: 1.6;
}

main {
	margin: 12px;
}

.texty {
	color: #e83c91;
}

.card {
	background-color: #ff8fb7;
}

.card-link {
	color: #43334c;
}

.navbar {
	background-color: #43334c !important;
}

.nav-link {
	color: #f8f4ec;
}

.nav-link:hover {
	color: #ff8fb7;
}

.last-entry {
	padding-right: 6px;
}

.quote {
	padding-left: 6px;
}

/* Formularz */
.form {
	background-color: #ff8fb7;
	padding: 2.5rem;
	border: 3px solid #43334c;
	border-radius: 0.375rem;
	margin: 5 auto;
	max-width: 837px;
	margin-top: 15px;
}

.form__group {
	margin-bottom: 1.5rem;
	text-align: left;
}

.form__label {
	display: block;
	margin-bottom: 0.5rem;
	color: #43334c;
	font-weight: 600;
	font-size: 1.2rem;
}

.form__input {
	background-color: #f8f4ec;
	color: #43334c;
	width: 100%;
	padding: 0.75rem 1rem;
	border: 1px solid #43334c;
	border-radius: 0.3rem;
	font-size: 1rem;
	transition: border-color 0.3s ease;
	box-sizing: border-box;
}

.form__input:focus {
	outline: none;
	border-color: #43334c;
	box-shadow: 0 0 0 1px #e83c91;
}

.form__rating-options input[type='radio'] {
	display: none;
}

.form__rating-options {
	font-size: larger;
	border-radius: 10px;
}

.rating {
	padding: 5;
	margin-right: 20;
	font-size: larger;
	cursor: pointer;
	transition: transform 0.2s, filter 0.2s;
	border-radius: 5px;
	color: #43334c;
}

input[type='radio']:checked + .rating {
	transform: scale(1.1);
	filter: drop-shadow(0 0 5px #d9d0bf);
	outline: 3px solid #f8f4ec;
}

.form__mood-options input[type='radio'] {
	display: none;
}

.mood-icon {
	margin-right: 10;
	width: 80px;
	height: 80px;
	cursor: pointer;
	transition: transform 0.2s, filter 0.2s;
	border-radius: 10px;
}

input[type='radio']:checked + .mood-icon {
	transform: scale(1.1);
	filter: drop-shadow(0 0 5px #d9d0bf);
	outline: 3px solid #f8f4ec;
}

.add_button {
	padding: 0.8rem 1.5rem;
	background-color: #43334c;
	color: white;
	border: #2e1525;
	border-radius: 0.7rem;
	cursor: pointer;
	font-size: 1.2rem;
	transition: background-color 0.3s ease, transform 0.2s ease;
	width: 100%;
	font-weight: 600;
	margin-top: 10;
}

.add_button:hover {
	background-color: #e83c91;
}

/* widok historii wpisow */
.entry__title {
	display: inline;
	font-size: 1.5rem;
	color: #43334c;
}

.entry__date {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 500;
	color: rgba(33, 37, 41, 0.75);
	margin-left: 50;
}

.entry__description {
	font-size: 1.1rem;
	margin-top: -10;
	color: #43334c;
}

.entry__rating {
	display: inline-block;
	font-size: 1.2rem;
	color: rgba(33, 37, 41, 0.75);
	margin-left: 50;
}

.entry {
	background-color: #ff8fb7;
	border: 2px solid #43334c;
	list-style-type: none;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0;
	border-radius: 0.7rem;
	margin: 0;
	margin-bottom: 1rem;
	margin-left: -32px;
	max-width: 200rem;
}

.entry__list {
	list-style-type: none;
}

.entry-btn {
	margin: 0;
	margin-right: 5;
	padding: 0.5rem 1.5rem;
	background-color: #43334c;
	color: #f8f4ec;
	border: #43334c;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 15px;
	text-decoration: none;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-btn {
	padding-top: 11px;
	padding-bottom: 13px;
}

.entry-btn:hover {
	background-color: #e83c91;
}

.entry-btn:active {
	background-color: #e83c91;
}

/* stats */
#statsChart {
	max-width: 900px;
	margin: auto;
}

.button-group {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
}

.button1 {
	margin: 0;
	margin-top: -5px;
	margin-left: -5px;
	padding: 0.3rem 1.3rem;
	background-color: #ff8fb7;
	color: white;
	border: #2e1525;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 0.9rem;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.button1:hover {
	background-color: #e83c91;
}

.button1--active {
	background-color: #e83c91;
}
